---
layout: default
title: The Webspace of Owen McGauley
---
  
  <div role="main">
    <article>
      <header>
        <h1>Recent Work</h1>
      </header>
      <p>Expect anything and everything on this page. This will be a general dumping ground for things I have produced recently.</p>
	</article>
	
{% for post in site.categories.work %}
	<div class="post" role="main">
	<article>
		<header>
        	<h4>
			{{ post.title }} / {{ post.date | date_to_string }}
			</h4>
      	</header>
			{{ post.content }}
		
	</article>

<p class="article-end">&#167;</p>

	<!-- {% for post in site.categories.work offset:1 limit:1 %}
	<p class="previous">
		<a href="{{ post.url }}">Previous Post: {{ post.title }}</a>
	</p>
	{% endfor %} -->
</div>

{% endfor %}