<footer>
    <div class="foothook">
      <p>
      <!--<a href="https://twitter.com/owen_mc_g" title="Tweets"><img src="{{ site.url }}/images/twitter_icon.png"></a> -->&#8734; &#8734; &#8734; <!--<a href="http://www.flickr.com/photos/owenmcgauley/" title="Photography"><img src="{{ site.url }}/images/flickr_icon.png"></a>-->  <!--<a href="http://instagram.com/owenmcg" title="iPhoneography"><img src="{{ site.url }}/images/instagram_icon.png"></a>-->
      </p>
      <p>
      All content copyright Owen McGauley, unless otherwise stated.
      </p>
    </div>
  </footer>
  </div>
</body>
</html>
